article p img {
    display: block;
    margin: auto;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.sidefilter {
    top: 118px;
}

.sidetoc {
    top: 180px;
}

blockquote {
    font-style: normal;
}

.footer {
    border-top: none;
    background-color: inherit;
}

footer {
    padding: 10px;
}

article h4 {
    border-bottom: none;
}